@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --folder-name: none;
}
body,html {
  margin: 0;
  height: 100%;
  font-family: 'Poppins';
}
.wrapper{
  /* background-image: url("background.png"); */
  /* background: rgb(247,37,133);
  background: linear-gradient(90deg, rgba(166,9,183,1) 0%, rgba(114,9,183,1) 20%, rgba(72,12,168,1) 40%, rgba(85,78,208,1) 60%, rgba(72,149,239,1) 80%); */
  background-color:#14C2CC;
background-image:
radial-gradient(circle farthest-side at top right, transparent, rgba(166,9,183,1)), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, rgba(72,149,239,1));
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation:bg-change 15s ease infinite;
  background-size: 200% 200%;
}
@keyframes bg-change {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
.heading{
  padding: 10px;
}
.apps{
  display: block;
  /* padding: 1%; */
  width: 90%;
  height: 90%;
  /* background: red; */
  margin: 0 auto;
  position: relative;
  padding: 1px;
}
.app{
  z-index: 1;
}
.folder{
  z-index: 3;
}
.app,.folder,.folder_app_opened,.folder_app_unopened{
  /* background: red; */
  text-align: center;
  width: 130px;
  height: 130px;
  margin: 1.2%;
  margin-left: 2.3%;
  display: inline-block;
  position: relative;
}
.folder_icon{
  background: rgba(230,230,230,0.3);
  display: inline-block;
  width: 61.5% !important;
  height: 61.5% !important;
  max-width: 523px;
  max-height: 480px;
}
.folder_app{
  width: 29.3%;
  height: 40%;
  top: 13px;
  /* padding-top: 10px; */
  display: inline-block;
  left: 3px;
}
.folder_icon{
  text-align: initial;
}
.app_icon,.folder_icon,.folder_app_icon{
  width: 80px;
  height: 80px;
  box-shadow: 0px 0px 5px #555;
  border-radius: 15px;
  cursor: pointer;
}
.folder_app_icon_opened{
  width: 71%;
  min-width: 106px;
  height: 57%;
  max-width: 130px;
  max-height: 130px;
  border-radius: 30%;
}
.folder_app_icon_unopened{
  width: 100%;
  height: 100%;
  max-width: 130px;
  max-height: 130px;
  border-radius: 30%;
}
.folder_app_unopened,.folder_app_opened{
  width: 24.3%;
  height: 40%;
  top: 13px;
  /* padding-top: 10px; */
  display: inline-block;
  left: 3px;
}
.folder_app_unopened{
  height: 24%;
}
.folder_app_opened{
  width: 29%;
}
.app_icon:hover,.folder_icon:hover{
  box-shadow: 1px 0px 25px #778;
}
.app_name,.folder_app_name,.onOpen{
  cursor: pointer;
  color: white;
  font-size: 20px;
}
.onOpen{
  font-size: 30px;
}
.folder_app_name{
  display: var(--folder-name);
}
#hiddenText{
  display: none;
}
.folder{
  transition: 0.4s;
  vertical-align: top;
}
#folderClicked{
  transition: .6s ease opacity;
  position: absolute;
  opacity: 0;
  display: none;
  width: 53%;
  margin-left: 23.7%;
  margin-top: -150px;
  max-width: 520px;
  height: 70%;
}
#folderClicked>.folder_icon{
  background: rgba(200,200,200,0.85);
  width: 100% !important;
  height: 100% !important;
  border-radius: 55px;
}
#folderClicked>.folder_icon>.folder_app:first-of-type{
  /* margin-left: 15%; */
}
#folderClicked>.folder_icon>.folder_app>.folder_app_icon{
  box-shadow: 0px 0px 0px;
}
.folderDefault{
  display: block;
  margin-top: 7px;
}
/* @media screen and  (max-width:800px)  {
    .app{
      width: 21%;
      min-height: 130px;
    }
    .app_icon{
      width: 61.5%;
    }
} */

@media only screen and  (max-width:1024px)  {
  #folderClicked{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  }
}
@media only screen and  (min-width:1270px)  {
  #folderClicked{
    margin-left: 25%;
  }
}
.wifi-icon,.charge-icon{
  width: 20px;
  float: right;
}
.time,.name{
  color: white;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.1px;
  margin-left: 4px;
}
.wifi-icon{
  margin-right: 10px;
}
.charge-icon{
  width: 30px;
  margin-top: 2px;
}
.app_holder{
  display: none;
}
.app-container{
  z-index: 4;
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: top left;
  width: 100%;
  min-height: 100vh;
}
.app-open .app-container{
  visibility: visible;
  transition: transform 0.3s ease-out 0s, visibility 0s linear 0s;
}
.app-container-wrap{
  background: whitesmoke; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 1;
  padding-top: 5px;
  padding-left: 25px;
  height: 100vh;
}
.app-4{
  background: linear-gradient(to right, #c1f0e7, #6DD5FA, #2980B9);
}
.app-open .app-container-wrap{
  opacity: 1;
  transition: 0.5s ease-in;
}
.app-container-body{
  box-sizing:border-box;
  max-height: 95vh;
  overflow: auto;
  overflow-x: hidden;
}
.app-container-body h1{
  font-size: 35px;
  color: #444444;
  letter-spacing: 1.1px;
}
.app-container-body p,#tech-t{
  font-size: 24px;
  letter-spacing: 1.15px;
  font-family: Arial;
  line-height: 30px;
}
a{
  color: hotpink;
  text-decoration: none;
}
a:hover{
  color: pink;
}
.close-app{
  width: 75px;
  height: 75px;
  font-size: 30px;
  border: 2px solid black;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 37.5px);
  border-radius: 50%;
  background: #231d1d;
  cursor: pointer;
  color: gray;
}
.close-app:hover{
  background: #3b3636;
}
.skill-icon{
  cursor: pointer;
  margin: 25px;
  margin-left: 45px;
  width: 100px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  display: inline-block;
  transition: .3s ease-out;
}
.skill-icon:hover{
  box-shadow: 5px 0px 15px gray;
}
.icon{
  padding: 2px;
  display: inline-block;
}
hr{
  border: 0;
  height: 1px;
  background: gray;
}
.skill-icon span{
    text-align: center;
    width: 100%;
    display: inline-block;
}
section h2{
    text-align: center;
}
section{
  margin-top: 15px;
}
section:last-of-type{
  margin-bottom: 55px;
}
#period{
    float: right;
    margin-right: 10%;
}
#place{
  margin-left: 8%;
}
#about-job,.contact-info{
  padding: 16px;
  font-size: 21px;
  text-align: center;
  display: inline-block;
}
.education{
  width: 30%;
  background: rgb(182 182 206 / 30%);
  box-shadow: 0px 0px 10px #4b8d91;
  border-radius: 9px;
  display: inline-block;
  margin: 20px;
}
.edu{
  display: flex;
  justify-content: center;
}
.institution,.edu-date{
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 23px;
  padding-top: 13px;
}
.edu-date{
  font-size: 17px;
}
.education ul{
  padding-bottom: 20px;
}
.education li{
  line-height: 30px;
}
.resume{
  width: 97%;
  height: 85vh;
  overflow-x: hidden;
}
.contact-pic{
  width: 230px;
  height: 230px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}
.contact-info{
  width: 97%;
}
